asn1crypto
certifi
cffi
chardet
cryptography
Django
django-node
django-rest-framework
django-rest-knox
django-webpack-loader
djangorestframework
idna
optional-django
psycopg2
pycparser
pyOpenSSL
pytz
requests
six
urllib3
